[submodule "cpu-parallel/fmt"]
	path = cpu-parallel/fmt
	url = https://github.com/fmtlib/fmt
[submodule "cluster-parallel/llama.cpp"]
	path = cluster-parallel/llama.cpp
	url = https://github.com/ggerganov/llama.cpp
